<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <title>Let's steam together!</title>
  <!-- Primary Meta Tags -->
  <meta name="title" content="Let's steam together">
  <meta name="description" content="Service for finding co-op games on steam">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://chatra-test.ha.digital/">
  <meta property="og:title" content="Let's steam together">
  <meta property="og:description" content="Service for finding co-op games on steam">
  <meta property="og:image"
    content="https://chatra-test.ha.digital/assets/preview.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://chatra-test.ha.digital/">
  <meta property="twitter:title" content="Let's steam together">
  <meta property="twitter:description" content="Service for finding co-op games on steam">
  <meta property="twitter:image"
    content="https://chatra-test.ha.digital/assets/preview.png">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="root" id="react-target"></div>
</body>